button {
    margin-bottom: 20px;
    background-color: #242437;
    color: #ebebf8;
}

.myPosts {
    padding: 20px;
    box-shadow: inset 2px 2px 5px rgb(100, 99, 97), 1px 1px 5px rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #adadd6;


}

textarea {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

button {
    margin-top: 3px;
    padding: 3px;
    border-radius: 3px;

}

textarea, button {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);

}

