.header {
    grid-area: h;
    background-color: #242437;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgb(255, 255, 255);
    border-radius: 8px;
    position: sticky;
    width:  1450px ;
    top: 0;


}

.header>img {
    width: 50px;
    border-radius: 50%;
    margin: 5px 15px;

}

.loginBlock {
    color: #adadd6;
    float: right;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 20px;

}

.loginBlock a {
    color: #adadd6;
    float: right;
    text-decoration: none;
    margin-right: 20px;
}

.loginBlock button {
    margin-left: 10px;
}