.profileStatus {
    color: yellow;
    padding-left: 200px;
    padding-top: 20px;
}

.inputStatus>input {
    padding: 6px;
    box-shadow: inset 2px 2px 5px rgb(100, 99, 97), 2px 2px 5px rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    background-color: #ebebf8;
}