.app-wrapper {
    display: grid;
    width:  1450px ;
    margin: auto;



    grid-template-areas:
     "h h "
     "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1.65fr 10fr;
    gap: 10px;
}


.app-wrapper {
    grid-area: c;

}

.wrapper-content {
    background-color: #adadd6;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px rgb(100, 99, 97), 1px 1px 5px rgb(255, 255, 255);


}

